body {
  background-image: url("../images/vintage-concrete.png");
  background-repeat: fixed;
  min-height: calc(100vh - 70px);
}

button,
    div,
    form,
    input {
  margin: 10px;
    }

#gifs-appear-here {
  margin: 10px;
}

#pics, img {
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 15px;
 }

button {
  width:150px;
  height: 50px;
  border-radius: 10px;
  background-color: papayawhip;
  font-size: 24px;
  font-style: italic;
  border: 2px solid blue;
}

h1 {
  font-size: 72px;
  padding: 12px;
  font-weight: bolder;
  background: -webkit-linear-gradient(pink, purple);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
}

#add-cat {
  width:150px;
  height: 50px;
  border-radius: 10px;
  background-color: papayawhip;
  font-size: 24px;
  font-style: italic;
  border: 2px solid blue;
}

button:hover {
  background-color: purple;
  color: white;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

#add-cat:hover {
  background-color: blue;
  color: white;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

h1:hover {
  background: -webkit-linear-gradient(rgb(255, 238, 0), blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 