body {
   min-height: calc(100vh - 70px);
   background: url("../images/cool-wallpapers-15.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }

button,
    div,
    form,
    input {
  margin: 10px;
    }

img {
  width: 200px;
  height: 200px;
  padding: 0px;
  border-radius: 15px;
  border: 3px solid black;
  }

button {
  width:150px;
  height: 50px;
  border-radius: 10px;
  background-color: papayawhip;
  font-size: 24px;
  font-style: italic;
  border: 2px solid blue;
}

h1 {
  font-size: 90px;
  padding: 12px;
  font-weight: bolder;
  background: -webkit-linear-gradient(yellow, orange);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
}

#add-cat {
  width:150px;
  height: 50px;
  border-radius: 10px;
  background-color: papayawhip;
  font-size: 24px;
  font-style: italic;
  border: 2px solid blue;
}

button:hover {
  background-color: purple;
  color: white;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

#add-cat:hover {
  background-color: blue;
  color: white;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

h1:hover {
  background: -webkit-linear-gradient(purple,white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
}

label {
  color: yellow;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

input {
  height: 30px;
  font-size: 30px;
}

label:hover {
  color: white;
}

p {
  color: yellowgreen;
}